
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardio</title>
</head>
<body bgcolor = "cyan">
    <h1 style = "text-align : center;">Cardio and Indurance </h1>
    <img src = "{% static 'bb6.jpg' %} " style = "text-align : center;" width = 500 height = 600/>
    <img src = "{% static 'bb7.jpg' %}" style = "text-align : center;" width = 500 height = 600/>
    <img src = "{% static 'bb8.jpg' %}" style = "text-align : center;" width = 500 height = 600/>
    <img src = "{% static 'bb9.jpg' %}" style = "text-align : center;" width = 500 height = 600/>
    <img src = "{% static 'bb5.jpg' %}" style = "text-align : center;" width = 500 height = 600/>

</body>
</html>